.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed var(--transparent-gray);
  margin: 0 auto;
  margin-top: 70px;
  min-width: 791px;
  min-height: 420px;
  border-radius: 4px;
  color: var(--light-gray);
  transition: 0.3s ease-in;

  i {
    font-size: 48px;
    color: var(--medium-gray);
    margin-bottom: 12px;
  }

  .fileLimits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    flex-wrap: wrap;

    > *:first-child {
      margin-bottom: 15px;
    }
  }

  .message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 415px;
    color: var(--medium-gray);

    &.withFile {
      align-items: flex-start;

      .fileName {
        color: var(--black);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-bottom: 36px;
        border: 1px solid var(--transparent-gray);
        border-radius: 13px;
        padding-left: 12px;
        padding-right: 1px;

        i {
          font-size: 24px;
          margin-bottom: 0;
          margin-left: 6px;
        }
      }

      h4 {
        color: black;
        font-weight: normal;
      }

      p {
        color: var(--medium-gray);
      }
    }
  }

  a {
    color: var(--orange);
    text-decoration: none;
  }

  &.dragging {
    background: var(--transparent-gray);
    color: var(--dark-gray);
  }
}
