.wizardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border-top: 1px solid var(--light-gray);

  button {
    color: var(--orange);
    padding-left: 30px;
    padding-right: 30px;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &[role='cancel'],
    &:first-child {
      color: var(--medium-gray);
    }
  }
}

.wizardBody {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 43px;
  min-height: 643px;

  h2 {
    color: var(--black);
    font-family: var(--ws-medium);
    font-size: 1rem;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
  }

  h4 {
    color: var(--medium-gray);
    font-weight: normal;
    text-align: center;
  }

  table {
    margin-top: 2rem;
  }
}
