.wizardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border-top: 1px solid #e5e5e5;

  button {
    color: #ff634a;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &[role='cancel'] {
      color: #999;
    }
  }
}

.wizardBody {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 43px;
  min-height: 643px;

  h2 {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-bottom: 77px;
    text-transform: uppercase;
  }
}
