table {
  border-collapse: collapse;
  width: 100%;
}
tr {
  height: 3rem;
}
td,
th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0 2rem;
}
th {
  color: #999;
  font-weight: normal;
  text-align: left;
}
