.navBar {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.navBarTabs {
  align-self: flex-end;
}
.navBarTabs i {
  margin-right: 0.3em;
}
.navBarTabs button {
  color: #fff;
  text-transform: initial;
}
