.navBar {
  box-shadow: 0 1px 2px 0 var(--transparent-dark-gray),
    0 1px 3px 0 var(--transparent-gray);
  i {
    color: var(--medium-gray);
  }
}
.navBarTabs {
  align-self: flex-end;
}
.navBarTabs i {
  margin-right: 0.3em;
}
.navBarTabs button {
  color: var(--medium-gray);
  text-transform: initial;
}
.navBarAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white) !important;
  position: relative;
  cursor: pointer;
  overflow: visible !important;
}
.navBarDropdown {
  position: absolute;
  top: 40px;
  left: 0;
  width: 300px;
  z-index: 999999999999;
  background: var(--white);
  color: var(--black);
  padding: 20px;
  display: none;
  box-shadow: 0 11px 15px -7px var(--transparent-dark-gray),
    0 24px 38px 3px var(--transparent-gray);

  li {
    list-style: none;
  }

  a {
    color: black;
    text-decoration: none;
  }

  &.open {
    display: flex;
  }
  &:hover {
    background-color: var(--light-gray);
  }
}
.navBarCurrentSite {
  margin: auto 1rem;
  font-size: 1.5rem;
}
.navBarTitle {
  cursor: pointer;
  margin-right: 1.25rem;
}
.navBarSync {
  color: var(--medium-gray);
  display: inherit;
  align-items: center;
  padding: 0.1rem 0.5rem 0.1rem 0.75rem;
  border: solid 1px var(--transparent-dark-gray);
  border-radius: 1rem;

  i {
    margin-left: 0.3rem;
  }
}
