table {
  border-collapse: collapse;
  width: 100%;
}
tr {
  height: 3rem;
}

td,
th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0 2rem;
}
th {
  color: #999;
  font-weight: normal;
  text-align: left;
}

.tableTitle,
.tableTitle a {
  color: #000;
}

.tablePagination {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 24px;
  color: #999;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    text-decoration: none;
    transition: 0.3s ease-in;
  }
}

.disabled {
  color: #ddd !important;
}
