h2 i {
  margin-right: 1rem;
  vertical-align: sub;
}
table {
  border-collapse: collapse;
  width: 100%;
}
tr {
  height: 4.5rem;
}

td,
th {
  border-bottom: 1px solid var(--transparent-gray);
  padding: 0.5rem 2rem;
}
th {
  color: var(--medium-gray);
  font-weight: normal;
  text-align: left;
}

tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.tableTitle,
.tableTitle a {
  color: var(--black);
}

.searchIcon {
  color: var(--medium-gray);
}

.tablePagination {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 24px;
  color: var(--medium-gray);

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--medium-gray);
    text-decoration: none;
    transition: 0.3s ease-in;
  }
}

.disabled {
  color: var(--light-gray) !important;
}
