.wizardHeader {
  display: flex;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid var(--light-gray);
  justify-content: center;
  align-items: center;
}

.wizardHeaderStep {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: var(--medium-gray);

  i {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    font-style: normal;
    margin-right: 16px;
    margin-left: 16px;
    background: var(--transparent-gray);
    color: var(--medium-gray);
  }

  &.active {
    color: var(--black);
    font-weight: bold;

    i {
      color: white;
      background: var(--orange);
    }
  }

  &::after {
    content: '';
    position: absolute;
    height: 12px;
    min-width: 73px;
    margin-left: 12px;
    margin-right: 12px;
    border-bottom: 1px solid var(--transparent-gray);
  }

  &:last-child::after {
    border: none;
  }
}
