/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~@material/react-button/dist/button.css';
@import '~@material/react-card/dist/card.css';
@import '~@material/react-layout-grid/dist/layout-grid.css';
@import '~@material/react-material-icon/dist/material-icon.css';
@import '~@material/react-tab/dist/tab.css';
@import '~@material/react-tab-bar/dist/tab-bar.css';
@import '~@material/react-tab-indicator/dist/tab-indicator.css';
@import '~@material/react-tab-scroller/dist/tab-scroller.css';
@import '~@material/react-text-field/dist/text-field.css';
@import '~@material/react-top-app-bar/dist/top-app-bar.css';
@import '~@material/react-list/dist/list.css';
@import '~@material/react-menu-surface/dist/menu-surface.css';
@import '~@material/react-menu/dist/menu.css';
@import '~@material/react-select/dist/select.css';

@import './material-overrides.css';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  background: #e5e5e5;
}

h2 {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.full-width {
  display: block;
  width: 100%;
}

.highlight {
  color: #ff5622;
}
