/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~@material/react-button/dist/button.css';
@import '~@material/react-card/dist/card.css';
@import '~@material/react-layout-grid/dist/layout-grid.css';
@import '~@material/react-material-icon/dist/material-icon.css';
@import '~@material/react-tab/dist/tab.css';
@import '~@material/react-tab-bar/dist/tab-bar.css';
@import '~@material/react-tab-indicator/dist/tab-indicator.css';
@import '~@material/react-tab-scroller/dist/tab-scroller.css';
@import '~@material/react-text-field/dist/text-field.css';
@import '~@material/react-top-app-bar/dist/top-app-bar.css';
@import '~@material/react-list/dist/list.css';
@import '~@material/react-menu-surface/dist/menu-surface.css';
@import '~@material/react-menu/dist/menu.css';
@import '~@material/react-select/dist/select.css';
@import '~@material/react-dialog/dist/dialog.css';
@import '~@material/react-checkbox/dist/checkbox.css';
@import '~@material/react-fab/dist/fab.css';
@import '~@material/react-radio/dist/radio.css';

@import '~material-design-icons-iconfont/dist/material-design-icons.css';
@import '~font-work-sans/work-sans.css';
@import './material-overrides.scss';

:root {
  --black: #000;
  --white: #fff;
  --light-gray: #e5e5e5;
  --medium-gray: #999;
  --dark-gray: #333;
  --transparent-gray: rgba(0, 0, 0, 0.1);
  --transparent-dark-gray: rgba(0, 0, 0, 0.2);
  --orange: #ff5722;
  --ws-regular: 'work_sansregular', sans-serif;
  --ws-medium: 'work_sansmedium', sans-serif;
  --ws-bold: 'work_sansbold', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ws-regular);
}

body {
  position: relative;
  height: 100vh;
  background: var(--light-gray);
  overflow-x: hidden;
  font-size: 16px;
}

h2 {
  color: #000;
  font-size: 1.25rem;
}

h4 {
  font-size: .875em;
}

.full-width {
  display: block;
  width: 100%;
}

.highlight {
  color: var(--orange);
}

.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-top {
  margin-top: 15px;
}
