:root {
  --mdc-theme-primary: #ff5722;
  --mdc-theme-secondary: #333;
}

.mdc-top-app-bar {
  background-color: var(--mdc-theme-secondary);
}
.mdc-top-app-bar__title {
  color: var(--mdc-theme-primary);
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.mdc-fab {
  background-color: var(--mdc-theme-primary);
}

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media (min-width: 1024px) {
  .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
