/* Global */
:root {
  --mdc-theme-primary: var(--orange);
  --mdc-theme-secondary: var(--dark-gray);
}

/* Top Bar */
.mdc-top-app-bar {
  background-color: var(--mdc-theme-secondary);
}
.mdc-top-app-bar__title {
  color: var(--mdc-theme-primary);
  font-family: var(--ws-regular);
  font-size: 1.5rem;
}
.mdc-tab,
.mdc-top-app-bar__section--align-end .mdc-top-app-bar__title {
  font-size: 1rem;
  letter-spacing: normal;
}

.mdc-tab--active {
  color: var(--white) !important;
}

/* Form Fields */
.mdc-text-field__input,
.mdc-floating-label,
.mdc-list-item,
.mdc-select__native-control,
.mdc-select__selected-text {
  font-size: 0.875rem;
  font-family: var(--ws-regular);
}

.mdc-select__native-control,
.mdc-select__selected-text {
  text-align: left;
  padding-bottom: 1rem;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.mdc-text-field.textarea {
  height: auto;
  min-height: 56px;
}

/* Fab button */
.mdc-fab {
  background-color: var(--mdc-theme-primary);
}

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

/* Layout Grid */
.mdc-layout-grid__cell--align-middle {
  display: flex;
  align-items: center;
  flex-direction: row;
}

/* Button */
.mdc-button__label {
  font-family: 'work_sansbold', sans-serif;
}

.mdc-dialog__content {
  overflow: visible;
}

.cs__option--is-focused {
  color: black !important;
}

.cs__control .cs__indicators .cs_indicator {
  color: #999;
}

.cs__control--is-disabled {
  border-bottom-color: transparent !important;
  color: #ccc;

  .cs__indicators {
    color: #ccc !important;
  }
}

@for $columns from 1 through 12 {
  .mdc-layout-grid__inner[align='center']
    .mdc-layout-grid__cell--span-#{$columns} {
    grid-column: #{((14 - $columns) / 2)} /
      #{(((14 - $columns) / 2) + $columns)};
  }
}

@media (min-width: 1024px) {
  .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
