/* Global */
:root {
  --mdc-theme-primary: var(--orange);
  --mdc-theme-secondary: var(--dark-gray);
}

.mdc-top-app-bar {
  background-color: var(--mdc-theme-secondary);
}
.mdc-top-app-bar__title {
  color: var(--mdc-theme-primary);
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.mdc-fab {
  background-color: var(--mdc-theme-primary);
}

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.mdc-select__selected-text {
  text-align: left;
}

.mdc-layout-grid__cell--align-middle {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.mdc-text-field.textarea {
  height: auto;
  min-height: 56px;
}

@for $columns from 1 through 12 {
  .mdc-layout-grid__inner[align="center"] .mdc-layout-grid__cell--span-#{$columns} {
    grid-column: #{((14 - $columns) / 2)} / #{(((14 - $columns) / 2) + $columns)};
  }
}
@media (min-width: 1024px) {
  .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
